################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/mvc-todo/packages
/mvc-todo/mvc-todo/bin
/mvc-todo/mvc-todo/obj/Debug
/mvc-todo/mvc-todo/App_Data
